@{
    ViewData["Title"] = " - Attendee Info";
}

<div class="ui three column grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        @using (Html.BeginForm("Upload", "SubmitForm", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ui form" }))
        {
                <div class="field">
                    <label>Attendee Name</label>
                    <input type="text" name="AttendeeName" placeholder="Please enter your name..." />
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <input type="text" name="Email" placeholder="Please enter your email..." />
                </div>
                <div class="field">
                    <label>Company/Organization (Optional)</label>
                    <input type="text" name="organization" placeholder="Please enter your Company/Organization..." />
                </div>
                <div class="two ui huge buttons">
                    <button type="submit" name="submitform" value="withpic" class="ui green button">Submit With Photo</button>
                    <button type="submit" name="submitform" value="withoutpic" class="ui blue button">Submit Without Photo</button>
                </div>
        }
    </div>
    <div class="three wide column"></div>
</div>