@{
    ViewData["Title"] = "";
}

<div class="ui three column grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <h2 class="ui centered header">Thank You For Your Info!</h2>

        <a href='@Url.Action("Index", "Home")'>
            <div class="ui fluid huge green button">Return to Entry Form</div>
        </a>    
    </div>
    <div class="three wide column"></div>
</div>